@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Silkscreen&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #39a2ae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

body > h1 {
  position: absolute;
  top: 80px;
  font-family: "Silkscreen", cursive;
  font-size: 100px;
  color: #f7f7f7;
  animation: blink;
  animation-duration: 1s;
  animation-timing-function: step-start;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

img {
  height: 300px;
  width: 300px;
  border-radius: 50px;
  margin-bottom: 30px;
}

p {
  color: #f7f7f7;
  font-size: large;
}

.store {
  height: 100vh;
  position: absolute;
  left: 0;
  margin-left: 20px;
  color: white;
}

.store > h1 {
  font-family: "Silkscreen", cursive;
  font-size: 50px;
}

.skins {
  height: 100vh;
  position: absolute;
  right: 0;
  margin-right: 20px;
  color: white;
  text-align: end;
}

.skins > h1 {
  font-family: "Silkscreen", cursive;
  font-size: 50px;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
}

li > h2:hover {
  color: #bfbfbf;
  cursor: pointer;
  transition: 0.5s;
}

.saveinfo {
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.saveinfo:hover {
  cursor: pointer;
}

.credits {
  position: absolute;
  left: 4px;
  bottom: 4px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.credits > p > a {
  color: white;
}
